@model PlayerSkill


@{
    var proficiencyBonus = 0;
    if (ViewData.ContainsKey("proficiencyBonus"))
    {
        proficiencyBonus = (int) ViewData["proficiencyBonus"];
    }

    DnDStat playerStat;
    if (ViewData.ContainsKey("stat"))
    {
        playerStat = (DnDStat) ViewData["stat"];
    }
    else
    {
        playerStat = new DnDStat();
    }
}

<div class="container">
    <div class="row mt-0">
        <h4 class="text-left col-">@Model.Name</h4>
        <span class="col- pl-1">(@Model.ApplicableStat.ToString()) </span>
        <div class="col"></div>

        <span class="text-center col-1 p-0">
            @if (Model.IsProficient)
            {
                <span class="dot" style="width: 10px; height: 10px"></span>
            }
        </span>
        <span class="text-right col-2">@DnDUtility.DisplayModifier(Model.GetModifier(playerStat, proficiencyBonus))</span>
    </div>
</div>