@model DnDStat

<div class="container p-0 mx-0">
    <div class="row mt-0">
        <h4 class="text-center col">@Model.StatName</h4>
    </div>
    <div class="row my-0">
        <span class="text-center col my-0">@Model.BaseStat</span>
    </div>
    <div class="row my-0">
        <span class="text-center col my-0">@Model.ModifierDisplay</span>
    </div>
</div>